body {
    background-color: lightslategray;
    overflow-y: auto;
}

.teamlogo {
    height: 50px;
    width: 50px;
}


h1 {
    text-align: center;
}
#welcome {
    text-align: center;
}
table {
    border-collapse: collapse;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
